.card__product{
  background-color: #f4f5f7;
  width: 290px;
  &__body{
    padding: 15px;

    div{
      .card__product__sale{
        font-size: 20px;
        color: #dadbdc;
        text-decoration: line-through;
      }
    }
  }
}